Flask
Flask-JWT-Extended
flask-marshmallow
loguru
gunicorn
marshmallow
pytest
python-dotenv
requests

{%- if cookiecutter.use_db == "yes" %}
Flask-Migrate
Flask-SQLAlchemy
marshmallow-sqlalchemy
psycopg2-binary
sqlalchemy
{%- endif %}